html{
    height:100%;
}
body{
    margin:0;
    background-color:gray;
    position: relative;
    height: 100%;
}
header{
    text-align:center;
    background-color: rgba(0, 0, 0, 0.63);
    color:white;
    padding:8px;
}
.fullpage{
    display:flex;
    height: calc(100% - 70px)
}
.sidebar{
    background-color:rgba(255, 0, 0, 0.466);
    width:10%;
    height:100%;
    color:white;
    text-align:center;
}
.bookshelf{
    color:white;
    background-color:rgb(53, 11, 11);
    width:100%;
    display:grid;
    justify-content:center;
    align-content:center;
    background-image: url("images/bg.jpg");
}
.add-book-form-container{
    text-align:center;
    background-image: url(images/book-cover.jpg);
    padding:12px;
    margin-bottom:25px;
}
.addbookdiv{
    position: fixed;
    right: 16px;
    bottom: 16px;
}
#addbookbutton{
    padding:16px;
    border-radius:2em;
    border-width:1em;
    border-color:crimson;
    background-color:rgb(105, 13, 13);
    color:white;
}
#Title,#Author,#NumOfPages{
    border-radius:2em;
    border-color:crimson;
    background-color:rgb(105, 13, 13);
    color:white;
}
#read-status-button{
    background-color:#008000;
    color:white;
}
#Submit{
    border-radius:2em;
    border-color:crimson;
    background-color:rgb(105, 13, 13);
    color:white;
}