html{
    height:100%;
}
body{
    margin:0;
    background-color:gray;
    position: relative;
    height: 100%;
}
header{
    text-align:center;
    background-color: rgba(0, 0, 0, 0.63);
    color:white;
    padding:8px;
}
.fullpage{
    display:flex;
    height: calc(100% - 70px)
}
.sidebar{
    background-color:rgba(255, 0, 0, 0.466);
    width:10%;
    height:100%;
    color:white;
    text-align:center;
}
.bookshelf{
    color:white;
    width:100%;
    background-image: url("images/bg.jpg");
}
.add-book-form-container{
    text-align:center;
    background-image: url(images/book-cover.jpg);
    background-repeat: no-repeat;
    padding:12px;
    position:fixed;
    top: 50%;
    left: 48%;
    margin: -100px 0 0 auto;
}
.all_books{
    display: grid;
    position:fixed;
    grid-template-columns: auto auto auto;
    min-width:100%;
    max-height:100%;
    margin-top:12px;
    margin-left:12px;
    margin-bottom:12px;
    gap:8px;
}
.add-book-button-container{
    position: fixed;
    right: 16px;
    bottom: 16px;
}
#add-book-button{
    padding:16px;
    border-radius:2em;
    border-width:1em;
    border-color:crimson;
    background-color:rgb(105, 13, 13);
    color:white;
}
#Title,#Author,#NumOfPages{
    border-radius:2em;
    border-color:crimson;
    background-color:rgb(105, 13, 13);
    color:white;
}
#read-status-button{
    background-color:#008000;
    color:white;
}
#Submit{
    border-radius:2em;
    border-color:crimson;
    background-color:rgb(105, 13, 13);
    color:white;
}